<div class="container footer-inner">
	<div class="footer-socials">
		<a
			aria-label="LinkedIn"
			href="https://www.linkedin.com/in/peogway2403/"
			rel="noopener"
			target="_blank"
		>
			<i class="fab fa-linkedin fa-2x"></i>
		</a>
		<a
			aria-label="GitHub"
			href="https://github.com/peogway"
			rel="noopener"
			target="_blank"
		>
			<i class="fab fa-github fa-2x"></i>
		</a>
		<a
			aria-label="Facebook"
			href="https://www.facebook.com/peo.peo.3958/"
			rel="noopener"
			target="_blank"
		>
			<i class="fab fa-facebook fa-2x"></i>
		</a>
		<a
			aria-label="Telegram"
			href="https://t.me/peogway"
			rel="noopener"
			target="_blank"
		>
			<i class="fab fa-telegram fa-2x"></i>
		</a>
		<a
			aria-label="Instagram"
			href="https://www.instagram.com/peo_.peoo/"
			rel="noopener"
			target="_blank"
		>
			<i class="fab fa-instagram fa-2x"></i>
		</a>
	</div>
	<p class="footer-copy">&copy; 2026 Hung Nguyen. All rights reserved.</p>
</div>

